#root {
    /** Anything in root will be ignored in print! **/
    margin: auto;
}

.page {
    --primary-color: #444444;
    --secondary-color: #000000;
    --tertiary-color: #aaaaaa;
    --background-color: #ffffff;

    font-family: 'Segoe UI';
    background-color: var(--background-color);
    width: 8.5in;
    height: 11in;
    margin: auto;
    padding: .25in .5in;
    box-sizing: border-box;
    color: var(--primary-color);
}

a {
    color: inherit;
    text-decoration: inherit;
}

.item .content a {
    font-style: italic;
    color: var(--secondary-color)
}

.element {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resume_body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

li {
    margin-bottom: .5em;
    list-style-type: none;
}

.resume_side {
    width: 28%;
}

.resume_side .content {
    margin-right: -.5em;
}

.resume_full {
    display: flex;
    flex-direction: column;
    width: 64%;
}

.section_group {
    display: block;
}

.section {
    width: 100%;
}

.section .header {
    height: 33pt;
    align-items: baseline;
}

.line {
    border-bottom: .2em solid var(--tertiary-color);
    margin-left: 1em;
    width: 100%;
}

.item {
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: 1.2em;
    position: relative;
}

.primitive {
    margin-bottom: .5em;
}

h1 {
    text-transform: uppercase;
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 18pt;
    margin: .5em 0 0 0;
}

h2 {
    margin: 0 -.25em .25em;
    color: var(--primary-color);
    font-size: 13.5pt;
    font-style: italic;
    display: inline-block;
}

h3 {
    margin: 0 0 .25em;
    color: var(--primary-color);
    display: inline;
    font-size: 13.5pt;
    position: absolute;
    right: 0;
    top: 0;
}


.section_objective .content {
    font-weight: bold;
}

.resume_bottom .content {
    display: flex;
    flex-direction: row;
}

.resume_bottom .item .content {
    margin-right: 0;
}

.resume_bottom h2 {
    position: relative;
    margin-bottom: 0;
}

.resume_bottom h3 {
    display: block;
    position: relative;
    margin-top: 0;
    margin-left: -.25em
}

.resume_bottom .item {
    max-width: 33%;
}

p,
li,
.content,
.item {
    font-size: 11pt;
    margin-bottom: .25em;
}

.resume_header .header,
.resume_header .line,
.resume_subhead .header,
.resume_subhead .line {
    display: none;
}

.resume_head a {
    font-style: inherit !important;
    color: inherit !important;
}

.resume_header {
    width: 50%;
    flex-direction: column;
}

.section_name .content {
    text-transform: uppercase;
    font-size: 28pt;
    color: var(--secondary-color);
    font-weight: bold;
    margin: 0;
    margin-top: .5em;
}

.section_title .content {
    color: var(--primary-color);
    font-size: 18pt;
    font-weight: normal;
    margin: 0;
    margin-bottom: 1em;
}

.section_contact .content {
    margin-top: .5em;
    margin-bottom: .5em;
    text-align: right;
    font-weight: bold;
}