#root {
    margin: auto;
}

.page {
    --primary-color: #444444;
    --secondary-color: #000000;
    --tertiary-color: #aaaaaa;
    --background-color: #ffffff;

    font-family: 'Segoe UI';
    background-color: var(--background-color);
    width: 8.5in;
    height: 11in;
    margin: auto;
    padding: .25in .5in;
    box-sizing: border-box;
    color: var(--primary-color);
}

a {
    color: inherit;
    text-decoration: inherit;
}

.module .content a {
    font-style: italic;
    color: var(--secondary-color)
}

.element {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact .item {
    font-size: 12pt;
    text-align: right;
    font-weight: bold;
}

.contact .item:last-child {
    margin-bottom: 0;
}

.resume_body {
    display: flex;
    justify-content: space-between;

    p {
        color: var(--primary-color);
    }

    align-items: flex-start;
}

.resume_side {
    width: 28%;
}

.resume_side .content {
    margin-right: -.5em;
}

.resume_main {
    width: 64%;
}

.section_group {
    display: block;
}

.section {
    width: 100%;
}

.section .header {
    height: 33pt;
    align-items: baseline;
}

.line {
    border-bottom: .2em solid var(--tertiary-color);
    margin-left: 1em;
    width: 100%;
}

.module {
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: 1.2em;
    position: relative;
}

h1 {
    text-transform: uppercase;
    font-size: 28pt;
    color: var(--secondary-color);
    font-weight: bold;
    margin: 0;
    margin-top: .5em;
}

h2 {
    color: var(--primary-color);
    font-size: 18pt;
    font-weight: normal;
    margin: 0;
    margin-bottom: 1em;
}

h3 {
    text-transform: uppercase;
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 18pt;
    margin: .5em 0 0 0;
}

h4 {
    margin: 0 -.25em .25em;
    color: var(--primary-color);
    font-size: 13.5pt;
    font-style: italic;
    display: inline-block;
}

h5 {
    margin: 0 0 .25em;
    color: var(--primary-color);
    display: inline;
    font-size: 13.5pt;
    position: absolute;
    right: 0;
    top: 0;
}


.section_objective .content {
    font-weight: bold;
}

.section_achievements .content {
    display: flex;
    flex-direction: row;
}

.section_achievements .module .content {
    margin-right: 0;
}

.section_achievements h4 {
    position: relative;
    margin-bottom: 0;
}

.section_achievements h5 {
    display: block;
    position: relative;
    margin-top: 0;
    margin-left: -.25em
}

.section_achievements .module {
    max-width: 33%;
}

p,
.content,
.item {
    font-size: 11pt;
    margin-bottom: .25em;
}

.contact .item {
    font-size: 12pt;
}