#root {
    margin: auto;
}

.page {
    font-family: 'Segoe UI';
    background-color: white;
    width: 8.5in;
    height: 11in;
    margin: auto;
    padding: .25in .5in;
}

.element {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resume_header {
    border-bottom: .2em solid black;
}

.resume_body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.resume_side {
    width: 28%;
}

.resume_main {
    width: 64%;
}

.section_group {
    display: block;
}

.section {
    width: 100%;
}

.section_header {
    height: 33pt;
    align-items: baseline;
}

.line {
    border-bottom: .2em solid #aaaaaa;
    margin-left: 1em;
    width: 100%;
}

.module {
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: .5em;
}

h1 {
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
}